* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
h2 {
    margin-bottom: 15px;
}

header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px 10px 10px 40px;
  max-width: 1000px;
  margin: auto;
}

.projekty-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.projekt {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 0px;
  background: #222;
  color: white;
}

.social-links {
  margin-top: 20px;
  margin-bottom: 0px;
}

.social-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 0;
}

.social-links a {
  color: #333;
  margin: 20px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #d86eae;
}
.projekt-link a{
  gap: 10px;
  color: #333;
  transition: color 0.3s ease;
}

.projekt-link a:hover {
  color: #d86eae;
}
.social-links ul
{
    margin-top: 20px;
}